%ul.curtains
  %li
    %section#home.homeSlide
      %h1 Apple Tree Dentistry
  %li
    %section#about.homeSlide
      .about-content-container
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae convallis tortor. Nulla malesuada arcu tellus, in mollis ex viverra vitae. Praesent vel nibh gravida, ultricies felis ac, tempor arcu. Nullam eget augue at urna fermentum efficitur ac ut leo. Aenean hendrerit a odio vel bibendum. Nam condimentum tortor sit amet felis tempor, non suscipit leo euismod. In auctor in quam ac mattis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eget justo leo. Pellentesque feugiat erat vitae congue pulvinar. Proin eu venenatis sem. Duis pellentesque augue eget placerat dignissim.
  %li
    %section#contact.homeSlide
