%nav.navbar.navbar-fixed-top.navbar-default{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nav-items", 'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: '/'}
        #logo.pull-left
          Dr.Toivo Sepp, DMD
        .nav-header
    .collapse.navbar-collapse#nav-items.navbar-right
      %ul.nav.navbar-nav
        %li
          %a.page-scroll{:href => '/'} Home
        %li
          %a.page-scroll{:href => '#about_top'} About
        %li
          %a.page-scroll{:href => '#contact_top'} Contact
        %li
          = link_to("Opportunity", opportunity_path, class: 'nav-item')
